.HomeMaps {
   @apply relative;
   @screen laptop {
   }
}

.HomeMaps-bloq {
   @apply bg-dark pt-[5rem]  pl-[4.9rem] pr-[4.9rem] pb-[3.54rem] flex flex-col justify-center items-center gap-[0.5rem];
   @screen laptop {
      @apply absolute;
      width: calc(68.5rem * var(--scale));
      height: calc(31.1rem * var(--scale));
      right: calc(21.5rem * var(--scale));
      top: calc(9.3rem * var(--scale));
      padding-top: calc(5.3rem * var(--scale));
      padding-bottom: calc(5.3rem * var(--scale));
      padding-right: calc(9.4rem * var(--scale));
      padding-left: calc(9.4rem * var(--scale));
      gap: calc(1rem * var(--scale));
   }
}

.HomeMaps-icon {
   @apply w-[2.174rem] h-[2.135rem];
   @screen laptop {
      width: calc(4rem * var(--scale));
      height: calc(3.9286rem * var(--scale));
   }
}

.HomeMaps-title {
   @apply text-[2.4rem] text-[#fff]   capitalize leading-[3.403rem] italic;
   font-family: 'Alegreya900n';
   @screen laptop {
      font-size: calc(4rem * var(--scale));
   }
}

.HomeMaps-lines {
   @apply w-[3.2604rem] h-[0.1087rem] bg-[#fff];
   @screen laptop {
      @apply w-[6rem] h-[0.2rem] bg-[#fff];
   }
}
.HomeMaps-text {
   @apply text-[1.5rem] text-center font-normal leading-[2.238rem];

   @screen laptop {
      font-size: calc(1.9rem * var(--scale));
      line-height: calc(2.984rem * var(--scale));
   }
   p {
      @apply text-[#fff] px-[.4rem];
      font-family: 'Source Sans ProN400';
   }

   strong {
      @apply font-semibold;
      font-family: 'Source Sans ProN400';
   }
}

.HomeMaps-maps {
   @apply h-[30rem];

   @screen laptop {
      height: calc(49.6rem * var(--scale));
   }
}
